<!-- In your-section.liquid -->

<div class="container">

  <h2>{{ section.settings.title }}</h2>
  
  <div class="btn-grid">
    {% for block in section.blocks %}
      <div class="btn">
        <a href="{{ block.settings.button_link }}" class="btn-link">{{ block.settings.device_name }}</a>
      </div>
    {% endfor %}
  </div>
  
</div>

{% schema %}
{
  "name": "deviceselect",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collection title"
    }
  ],
  "blocks": [
    {
      "type": "device",
      "name": "name",
      "settings": [
        {
          "type": "text",
          "id": "device_name",
          "label": "Device Name",
          "default": "Device Name"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "deviceselect"
    }
  ]
}
{% endschema %}

{% stylesheet %}
<style>
  .container {
    text-align: center;
    width: 80%;
    margin: 0px auto;
  }

  .btn-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
  }

  .btn {
    text-align: center;
    padding: 10px 0;
    max-width: 200px; /* Set maximum width for the buttons */
    width: 100%; /* Ensure buttons take up available space in the grid */
  }

  .btn-link {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  @media (min-width: 768px) {
    .btn-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
</style>
{% endstylesheet %}
